<%- include('partials/header') %>
<%- include('partials/navbar') %>

<br>

<a class="btn btn-lg red-background white" href="/new-panel?prevPanelId=-1" role="button">Add Start Panel</a>

<a class="btn btn-lg blue-background white" href="/new-image" role="button">Add New Image</a>

<br>

<div class="" width="460" height="345">
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="false">
    <div class="carousel-inner">
      <%for (i = 0; i < panelsAndImages.length; i++) {%>
        <%if (i == 0) {%>
          <div class="carousel-item active">
        <%} else {%>
          <div class="carousel-item">
        <%}%>
        <a href="/panels/<%=panelsAndImages[i].panelId%>">
          <img src="/uploads/images/<%=panelsAndImages[i].imagePath%>" class="d-block w-100" alt="...">
        </a>
        <div class="carousel-caption d-none d-md-block">
          <p><%=panelsAndImages[i].text%></p>
          <a href="/new-panel?prevPanelId=<%=panelsAndImages[i].panelId%>">
          <p class="white-background">(Add panel after)</p>
          </a>
        </div>
        </div>
      <%}%>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
  </div>

    <%- include('partials/footer') %>
