<%- include('partials/header') %>
<%- include('partials/navbar', {route: 'panel'}) %>
<div class="my-form">
<figure class="figure">
  <img src="<%=imagePath%>" class="figure-img img-fluid rounded my-figure-image" alt="...">
  <figcaption class="figure-caption"><%=panelText%></figcaption>
</figure>



  <form action="/panels/<%=panelId%>" method="post">
    <div class="form-group">
      <input type="text" class="form-control" id="newPanelText" name="newPanelText" placeholder="Modify the panel text" required>
    </div>
    <input type="hidden" name="_method" value="patch"/>
    <input type="submit" value="Modify">
  </form>

<br>

<form action='/panels/<%=panelId%>' method="post">
  <input type="hidden" name="_method" value="delete"/>
  <input type="submit" value="Delete the panel">
</form>
</div>

<%- include('partials/footer') %>
