<%- include('partials/header') %>

<div class="">
  <a class="btn btn-lg blue-background white" href="/edit" role="button">Home</a>
</div>

<figure class="figure">
  <img src="/uploads/images/<%=imagePath%>" class="figure-img img-fluid rounded" alt="...">
  <figcaption class="figure-caption"><%=panelText%></figcaption>
</figure>

<div class="">

  <form action="/panels/<%=panelId%>" method="post">
    <div class="form-group">
      <input type="text" class="form-control" id="newPanelText" name="newPanelText" placeholder="Modify the panel text" required>
    </div>
    <input type="hidden" name="_method" value="patch"/>
    <input type="submit" value="Modify">
  </form>
</div>

<br>

<form action='/panels/<%=panelId%>' method="post">
  <input type="hidden" name="_method" value="delete"/>
  <input type="submit" value="Delete the panel">
</form>

<%- include('partials/footer') %>
